@use "../abstract/variables" as vars;

.footer {
  background: var(--color-email-form-bg);
  color: var(--color-base-text-secondary);
  width: 100%;
  height: calc(2rem * var(--zoom-scale));
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.product-content .footer {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  flex-shrink: 0;
}

.footer__inner {
  // max-width: 1200px;
  // margin: 0 auto;
  // padding: 12px 16px;
}

.footer__text {
  font-size: calc(12px * var(--zoom-scale));
}
