@use "../abstract/variables" as vars;

.footer {
  // border-top: 1px solid var(--separator-color);
  background: var(--color-base-bg);
  color: var(--color-base-text-secondary);
  width: 100%;
  margin-top: auto;
}

.footer__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  font-size: 12px;
}
