@use "../abstract/variables" as vars;

.footer {
  // border-top: 1px solid var(--separator-color);
  background: var(--color-base-bg);
  // background: red;
  color: var(--color-base-text-secondary);
  width: 100%;
  // margin-top: auto;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__inner {
  // max-width: 1200px;
  // margin: 0 auto;
  // padding: 12px 16px;
}

.footer__text {
  font-size: 12px;
}
