@use "../abstract/variables" as *;
@use "../base/responive" as *;

.header {
  width: 100%;
  background-color: var(--color-base-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;

  @include respond(bigDesktop) {
    margin-left: 37rem;
    // margin-right: 2rem;
  }

  @include respond(extraBigDesktop) {
    margin-left: 60rem;
    // margin-right: 4rem;
  }
}

.product-header .header-actions {
  justify-content: flex-end;
  width: 100%;
}
