@use "../abstract/variables" as *;
@use "../base/responive" as *;

.header {
  width: 100%;
  background-color: var(--color-base-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  justify-content: flex-end;

  @include respond(desktop) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  @include respond(extraBigDesktop) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.product-header .header-actions {
  justify-content: flex-end;
  width: 100%;
}
