@use "../../abstract/variables" as *;
@use "../../base/responive" as *;

.payment-checkout {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  // height: 100vh;
}

.payment-checkout-page {
  background: var(--color-email-form-bg);
}

.payment-checkout__header {
  margin-bottom: 30px;
}

.back-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--color-base-accessibility-modal-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  // text-transform: capitalize;

  @include respond(bigDesktop) {
    margin-left: 9rem;
    font-size: 1.1rem;
  }
}

.payment-checkout__steps {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0px;
}

.step {
  text-align: center;
  position: relative;
  min-width: 500px;

  @include respond(bigDesktop) {
    min-width: 400px;
  }
}

.step span {
  display: block;
  margin-bottom: 8px;
  color: var(--color-pymnt-step-clr);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(bigDesktop) {
    font-size: 0.85rem;
    margin-bottom: 6px;
  }
}

.step h2 {
  margin: 0;
  color: var(--color-pymnt-step-clr);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  @include respond(bigDesktop) {
    font-size: 1rem;
  }
}

.step.active h2 {
  color: var(--color-pymnt-step-clr);
}

.step-line {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ddd;
}

.step.active .step-line {
  background-color: var(
    --color-base-mobile-header-lang-dropdown-item-lang-check
  );
}

.payment-checkout__content {
  border-radius: 16px;
  padding: 40px;
  border-radius: 2.5rem;
  background: var(--color-email-form-box);
  box-shadow: 0px -16px 54px 0px rgba(27, 36, 53, 0.17);
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(bigDesktop) {
    padding: 24px;
    min-height: 450px;
    border-radius: 1.8rem;
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
  }
}

.form-container {
  width: 500px !important;
  // margin: 0 auto;

  @include respond(bigDesktop) {
    width: 380px !important;
  }
}

.form-group {
  margin: 0 2.5rem;
  margin-bottom: 24px;
  position: relative;

  @include respond(bigDesktop) {
    margin: 0 1.5rem;
    margin-bottom: 18px;
  }
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--color-email-form-label);
  font-family: Inter;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  @include respond(bigDesktop) {
    font-size: 0.9rem;
    margin-bottom: 6px;
  }
}

.form-control {
  width: 100%;
  border: none;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  color: var(--color-email-form-label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include respond(bigDesktop) {
    padding: 4px 0;
    font-size: 12px;
    // width: 60%;
  }
}

.input-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

@include respond(bigDesktop) {
  .form-control {
    width: 60%;
  }
}

.confirm-button {
  width: 100%;
  padding: 16px;
  border-radius: 4.375rem;
  background: var(--cnfm-btn-clr);
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  color: var(--btn-clr);

  @include respond(bigDesktop) {
    padding: 12px;
    font-size: 14px;
    border-radius: 3rem;
    width: 80%;
    margin: 8px 0px 0 40px;
  }
}
.payment-checkout__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.back-button {
  flex-shrink: 0; /* Prevents button from shrinking */
}

.payment-checkout__title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: var(--color-pymnt-title-clr);
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(bigDesktop) {
    font-size: 1.5rem;
    margin-left: -10rem;
  }
}

.verification-text {
  text-align: center;
  margin-bottom: 8px;
  color: #a49dad;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  // line-height: 34px;
  text-transform: capitalize;

  @include respond(bigDesktop) {
    font-size: 14px;
    margin-bottom: 6px;
  }
}

.email {
  color: var(--email-text);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  @include respond(bigDesktop) {
    font-size: 14px;
  }
}

.spam-notice {
  text-align: center;
  color: var(--spam-notice);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 16px;

  @include respond(bigDesktop) {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

.verification-container {
  background-color: var(--color-email-form-box);
  padding: 20px;
  border-radius: 8px;
  margin: 0 2.5rem;
  background-color: #f4f7f8;

  @include respond(bigDesktop) {
    padding: 16px;
    margin: 0 1.5rem;
  }
}

.verification-label {
  text-align: center;
  font-size: 0.9em;
  color: var(--color-confirm-otp-label);
  margin-bottom: 8px;

  @include respond(bigDesktop) {
    font-size: 0.8em;
    margin-bottom: 6px;
  }
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.code-input {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: var(--color-email-form-box);
  color: var(--color-email-form-label);
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
}

.timer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 1rem;
}

.expire-text {
  color: #787082;
  font-family: Inter;
  font-size: 14.663px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(bigDesktop) {
    font-size: 12px;
  }
}

.timer {
  color: #787082;
  font-family: Inter;
  font-size: 14.663px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(bigDesktop) {
    font-size: 12px;
  }
}

.resend-btn {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 6px 12px;
  // border-radius: 20px;
  border-radius: 51.322px;
  border: 2.933px solid #dcd6e5;
  opacity: 0.6;
  background: #fff;
}

.resend-btn:hover {
  background-color: #eee;
}

.verification-containerBox {
  padding: 20px;
  border-radius: 8px;
}
