.payment-checkout {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  // height: 100vh;
}

.payment-checkout-page {
  background: var(--color-email-form-bg);
}

.payment-checkout__header {
  margin-bottom: 30px;
}

.back-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #18142b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  // text-transform: capitalize;
}

.payment-checkout__steps {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0px;
}

.step {
  text-align: center;
  position: relative;
  min-width: 500px;
}

.step span {
  display: block;
  margin-bottom: 8px;
  color: var(--color-pymnt-step-clr);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.step h2 {
  margin: 0;
  color: var(--color-pymnt-step-clr);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.step.active h2 {
  color: var(--color-pymnt-step-clr);
}

.step-line {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ddd;
}

.step.active .step-line {
  background-color: #007bff;
}

.payment-checkout__content {
  border-radius: 16px;
  padding: 40px;
  border-radius: 2.5rem;
  background: var(--color-email-form-box);
  box-shadow: 0px -16px 54px 0px rgba(27, 36, 53, 0.17);
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 500px !important;
  // margin: 0 auto;
}

.form-group {
  margin: 0 2.5rem;
  margin-bottom: 24px;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--color-email-form-label);
  font-family: Inter;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.form-control {
  width: 100%;
  border: none;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  color: var(--color-email-form-label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.confirm-button {
  width: 100%;
  padding: 16px;
  border-radius: 4.375rem;
  background: #ffea00;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
}
.payment-checkout__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.back-button {
  flex-shrink: 0; /* Prevents button from shrinking */
}

.payment-checkout__title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: var(--color-pymnt-title-clr);
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.verification-text {
  text-align: center;
  margin-bottom: 8px;
  color: #a49dad;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  // line-height: 34px;
  text-transform: capitalize;
}

.email {
  color: #18142b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.spam-notice {
  text-align: center;
  color: #ff63af;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 16px;
}

.verification-container {
  background-color: #f4f7f8;
  padding: 20px;
  border-radius: 8px;
  margin: 0 2.5rem;
}

.verification-label {
  text-align: center;
  font-size: 0.9em;
  color: #18142b;
  margin-bottom: 8px;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.code-input {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
}

.timer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 1rem;
}

.expire-text {
  color: #787082;
  font-family: Inter;
  font-size: 14.663px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.timer {
  color: #787082;
  font-family: Inter;
  font-size: 14.663px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.resend-btn {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 6px 12px;
  // border-radius: 20px;
  border-radius: 51.322px;
  border: 2.933px solid #dcd6e5;
  opacity: 0.6;
  background: #fff;

  // display: flex;
  // width: 136.37px;
  // height: 61.587px;
  // justify-content: center;
  // align-items: center;
  // gap: 7.332px;
  // flex-shrink: 0;
}

.resend-btn:hover {
  background-color: #eee;
}

.verification-containerBox {
  padding: 20px;
  border-radius: 8px;
}
