@use "../../abstract/variables" as *;
@use "../../base/responive" as *;

.payment-checkout {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  min-height: calc(100vh - 12vh);

  @include respond(bigTablets) {
    padding: 30px;
    min-height: calc(100vh - 6rem);
  }
}

.payment-checkout-page {
  background: var(--color-email-form-bg);
}

.payment-checkout-page-details {
  background: var(--color-email-form-bg);
  min-height: calc(100vh - 6rem);
}

.payment-checkout__header {
  margin-bottom: 20px;
}

.back-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--color-base-accessibility-modal-title);
  font-size: 1.19rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 100;
  cursor: pointer;
  // text-transform: capitalize;

  &:hover {
  }

  @include respond(desktop) {
    margin-left: 1rem;
    font-size: 1rem;
  }

  @include respond(bigDesktop) {
    margin-left: 3rem;
    font-size: 1.1rem;
  }
}

.payment-checkout__steps {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  position: relative;
  padding: 0px;

  @include respond(bigTablets) {
    margin-bottom: 40px;
    padding: 8px 0px;
  }

  @include respond(desktop) {
    margin-bottom: 25px;
    padding: 8px 0px;
  }
}

.step {
  text-align: center;
  position: relative;
  min-width: 500px;

  @include respond(desktop) {
    min-width: 450px;
  }

  @include respond(bigDesktop) {
    min-width: 400px;
  }
}

.step span {
  display: block;
  margin-bottom: 8px;
  color: var(--color-pymnt-step-clr);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(desktop) {
    font-size: 0.9rem;
    margin-bottom: 7px;
  }

  @include respond(bigDesktop) {
    font-size: 0.85rem;
    margin-bottom: 6px;
  }
}

.step h2 {
  margin: 0;
  color: var(--color-pymnt-step-clr);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  @include respond(desktop) {
    font-size: 1.1rem;
  }

  @include respond(bigDesktop) {
    font-size: 1rem;
  }
}

.step.active h2 {
  color: var(--color-pymnt-step-clr);
}

.step-line {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ddd;

  @include respond(desktop) {
    bottom: -15px;
    height: 2.5px;
  }
}

.step.active .step-line {
  background-color: var(
    --color-base-mobile-header-lang-dropdown-item-lang-check
  );
}

.payment-checkout__content {
  border-radius: 16px;
  padding: 35px;
  border-radius: 2.5rem;
  background: var(--color-email-form-box);
  box-shadow: 0px -16px 54px 0px rgba(27, 36, 53, 0.17);
  height: auto;
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: start;

  @include respond(desktop) {
    padding: 20px;
    border-radius: 1.5rem;
    width: 93%;
    max-width: 1200px;
    margin: 0 auto;
  }

  @include respond(bigDesktop) {
    padding: 24px;
    border-radius: 1.8rem;
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    height: auto;
  }

  // Responsive height classes
  &--with-header {
    min-height: 63vh;

    @include respond(smallPhone) {
      min-height: 50vh;
    }

    @include respond(phone) {
      min-height: 55vh;
    }

    @include respond(tablets) {
      min-height: 58vh;
    }

    @include respond(bigTablets) {
      min-height: 60vh;
    }

    @include respond(desktop) {
      min-height: 58vh;
    }

    @include respond(bigDesktop) {
      min-height: 65vh;
      height: 100%;
    }

    @include respond(extraBigDesktop) {
      min-height: 60vh;
    }
  }

  &--no-header {
    min-height: 85vh;

    @include respond(smallPhone) {
      min-height: 75vh;
    }

    @include respond(phone) {
      min-height: 78vh;
    }

    @include respond(tablets) {
      min-height: 80vh;
    }

    @include respond(bigTablets) {
      min-height: 82vh;
    }

    @include respond(desktop) {
      min-height: 80vh;
    }

    @include respond(bigDesktop) {
      min-height: 75vh;
    }

    @include respond(extraBigDesktop) {
      min-height: 80vh;
    }
  }
}

.form-container {
  width: 500px !important;
  // margin: 0 auto;

  @include respond(bigDesktop) {
    width: 390px !important;
  }
}

.form-group {
  margin: 0 0rem;
  margin-bottom: 4rem;
  position: relative;

  @include respond(desktop) {
    // margin: 0 3rem;
    margin-bottom: 3rem;
  }

  @include respond(bigDesktop) {
    // margin: 0 4rem;
    margin-bottom: 3rem;
  }
}

.form-group label {
  display: block;
  margin-bottom: 3rem;
  color: var(--color-email-form-label);
  font-family: Inter;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  @include respond(desktop) {
    font-size: 0.9rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }

  @include respond(bigDesktop) {
    font-size: 0.9rem;
    margin-bottom: 3rem;
  }
}

.form-control {
  width: 100%;
  border: none;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  color: var(--color-email-form-label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include respond(desktop) {
    font-size: 12px;
    padding: 6px 17px;
  }

  @include respond(bigDesktop) {
    padding: 4px 0;
    font-size: 12px;
    // width: 60%;
  }
}

.input-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #6f677c;
}

@include respond(desktop) {
  .input-underline {
    width: 100%;
    // margin-left: 1rem;
  }
}

@include respond(bigDesktop) {
  .input-underline {
    width: 100%;
  }
}

.confirm-button {
  width: 100%;
  padding: 16px;
  border-radius: 4.375rem;
  background: var(--cnfm-btn-clr);
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  color: var(--btn-clr);

  @include respond(desktop) {
    padding: 12px;
    font-size: 14px;
    border-radius: 3rem;
    // width: 75%;
    // margin: 8px 0px 0 83px;
  }

  @include respond(bigDesktop) {
    padding: 12px;
    font-size: 14px;
    border-radius: 3rem;
    width: 80%;
    margin: 8px 0px 0 40px;
  }
}
.payment-checkout__header {
  display: flex;
  align-items: center;
  justify-content: center; // Center the title horizontally
  width: 100%;
  position: relative; // Allows absolute positioning of back button if needed

  @include respond(desktop) {
  }

  @include respond(bigDesktop) {
  }
}

.back-button {
  flex-shrink: 0; /* Prevents button from shrinking */
}

.payment-checkout__title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: var(--color-pymnt-title-clr);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(desktop) {
    font-size: 1.5rem;
  }

  @include respond(bigDesktop) {
    font-size: 1.5rem;
  }

  @include respond(bigTablets) {
    font-size: 1.5rem;
  }
}

.verification-text {
  text-align: center;
  margin-bottom: 8px;
  color: #a49dad;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  // line-height: 34px;
  text-transform: none;

  @include respond(desktop) {
    font-size: 12px;
    margin-bottom: 6px;
  }

  @include respond(bigDesktop) {
    font-size: 12px;
    margin-bottom: 6px;
  }
}

.email {
  color: var(--email-text);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  @include respond(desktop) {
    font-size: 12px;
  }

  @include respond(bigDesktop) {
    font-size: 12px;
  }
}

.spam-notice {
  text-align: center;
  color: var(--spam-notice);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 16px;

  @include respond(desktop) {
    font-size: 12px;
    margin-bottom: 12px;
  }

  @include respond(bigDesktop) {
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.verification-container {
  background-color: var(--color-email-form-box);
  padding: 20px;
  border-radius: 8px;
  margin: 0 2.5rem;
  background-color: var(--color-verification-container-bg);

  @include respond(desktop) {
    padding: 16px;
    margin: 0 5rem;
  }

  @include respond(bigDesktop) {
    padding: 16px;
    margin: 0 1.5rem;
  }
}

.verification-label {
  text-align: center;
  font-size: 0.9em;
  color: var(--color-confirm-otp-label);
  margin-bottom: 8px;

  @include respond(desktop) {
    font-size: 12px;
    margin-bottom: 6px;
  }

  @include respond(bigDesktop) {
    font-size: 0.75em;
    margin-bottom: 6px;
  }
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.code-input {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-otp-input-border);
  background-color: var(--color-email-form-box);
  color: var(--color-email-form-label);
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;

  @include respond(desktop) {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}

.timer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 1rem;
}

.expire-text {
  color: var(--color-resend-btn-text);
  font-family: Inter;
  font-size: 14.663px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(desktop) {
    font-size: 11.5px;
  }

  @include respond(bigDesktop) {
    font-size: 11.5px;
  }
}

.timer {
  color: var(--color-resend-btn-text);
  font-family: Inter;
  font-size: 14.663px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @include respond(desktop) {
    font-size: 11.5px;
  }

  @include respond(bigDesktop) {
    font-size: 11.5px;
  }
}

.resend-btn {
  background: none;
  border: none;
  color: var(--color-resend-btn-text);
  cursor: pointer;
  padding: 6px 12px;
  // border-radius: 20px;
  border-radius: 51.322px;
  border: 2.933px solid var(--color-resend-btn-border);
  opacity: 0.6;
  background: var(--color-resend-btn-bg);
}

@include respond(desktop) {
  .resend-btn {
    font-size: 11.5px;
  }
}

@include respond(bigDesktop) {
  .resend-btn {
    font-size: 11.5px;
  }
}

.verification-containerBox {
  padding: 20px;
  border-radius: 8px;
}

.back-button {
  .rtl-arrow {
    transform: rotate(180deg);
  }
}
