.mobile-top {
  margin-top: 5rem;
  height: 18.3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-base-mobile-top-bg);
  border-top: 1px solid var(--color-base-mobile-top-item-bordertop);
  border-bottom: 1px solid var(--color-base-mobile-top-item-borderbottom);
  padding: 0 0;
  position: relative;
  height: 65px;

  &__item {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0 0 0;
    color: var(--color-base-mobile-top-item-text);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: none;
    transition: color 0.2s;

    span {
      opacity: 0.4;
      font-size: 13px;
    }

    &:hover {
      color: #1976d2;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 16%;
      height: 75%;
      width: 1px;
      background-color: var(--color-base-mobile-top-item-right-border);
    }
  }

  &__icon {
    width: 20px;
    height: 23px;
    object-fit: contain;
    margin-bottom: 2px;
    display: block;
    opacity: 0.4;
  }

  &__item--active {
    color: var(--color-base-mobile-top-item-text-active);
    font-weight: 600;
    opacity: 1;

    img {
      opacity: 1;
    }

    span {
      opacity: 1;
    }

    .mobile-top__icon {
      filter: none;
    }

    .mobile-top__underline {
      display: block;
    }
  }

  &__underline {
    width: 95%;
    height: 4px;
    background: var(--color-base-mobile-top-item-text-active);
    border-radius: 2px;
    // margin: 8px auto 0 auto;
    display: none;
  }
}

.mobile-top-search-section {
  padding: 5px 0 0 0;
  text-align: center;
  height: 55%;

  &__title {
    font-size: 21px;
    font-weight: 500;
    color: var(--color-base-mobile-search-section-title);
    margin-bottom: 8px;
    font-family: inherit;
  }

  &__searchbar {
    display: flex;
    align-items: center;
    background: var(--color-base-mobile-search-section-input-bg);
    border: 1.5px solid var(--color-base-mobile-search-section-input-border);
    border-radius: 2rem;
    padding: 0 16px;
    height: 40px;
    margin: 0 auto 24px auto;
    max-width: 95%;
    box-sizing: border-box;

    input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      font-size: 14px;
      color: var(--color-base-mobile-search-section-input-text);
      padding: 0 8px;
    }
    ::placeholder {
      color: var(--color-base-mobile-search-section-input-placeholder);
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__filters {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: -4px;
    margin-bottom: 7px;
    padding: 0 16px;
  }

  &__filter-btn {
    background: var(--color-base-mobile-search-section-filter-btn-bg);
    border: 2px solid var(--color-base-mobile-search-section-filter-btn-border);

    border-radius: 2rem;
    padding: 6px 10px 6px 16px;
    font-size: 14px;
    color: var(--color-base-mobile-search-section-filter-btn-text);
    display: flex;
    align-items: left;
    gap: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s, border 0.2s;
    min-width: 140px;
    justify-content: left;

    .chevron {
      font-size: 14px;
      color: var(--color-text-primary-chevron);
      margin-left: 53px;
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    background: var(--color-search-dropdown-bg);
    border-radius: 8px;
    box-shadow: var(--color-base-mobile-header-lang-dropdown-boxshadow);
    min-width: 180px;
    padding: 8px 0;
    z-index: 1000;

    &--ar {
      left: 0;
      right: 0;
      top: calc(100% + 8px);
    }
  }

  &__dropdown-option {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-search-dropdown-option);
    }

    span {
      font-size: 14px;
      color: var(--color-search-dropdown-option-text);
    }
  }

  &__check {
    color: #007bff;
    font-weight: bold;
  }
}
