$color-white-blue: #e9f7fd;
$color-lightest-blue: #80bfe4;
$color-light-blue: #0597e5;
$color-mid-blue: #0758dd;
$color-light-gray: #e3daf2;
$color-bg-gray: #f4f3f3;
$color-text-gray: #514760;
$color-text-light-gray: rgba(#18142b80, 0.5);
$color-dark-gray: #333;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffea00;

:root {
  --color-base-bg: #fff;
  --color-base-text: #000;
  --color-base-btn-bg: #fff;
  --color-base-btn-border: #dcd6e5;
  --color-base-chat-btn-bg: linear-gradient(180deg, #0597e5 0%, #0758dd 100%);
  --color-base-chat-btn-text: #fff;
  --color-base-side-bar-border: #f7d148;
  --color-base-side-bar-invert-border: #fff;
  --color-base-side-bar-item-bg: #e9f7fd;
  --color-base-side-bar-item-box: #e9ebef;
  --color-base-side-bar-item-box-border: #80bfe4;
  --color-base-side-bar-item-icon-bg: linear-gradient(
    135deg,
    #da3164 0%,
    #ae219f 50%,
    #547ee0 100%
  );
  --color-base-side-bar-item-right-bg: #fff;
  --color-base-side-bar-item-right-text: rgba(#18142b80, 0.5);
  --color-base-side-bar-item-right-text-active: #2563c0;
  --color-base-side-bar-item-inactive-border: #e3daf2;
  //
  --color-base-product-card-bg: #f0f0f0;
}

$header-size: 118px;

$chat-with-us-btn-bg-color: linear-gradient(180deg, #0597e5 0%, #0758dd 100%);
