$color-white-blue: #e9f7fd;
$color-lightest-blue: #80bfe4;
$color-light-blue: #0597e5;
$color-mid-blue: #0758dd;

$color-light-gray: #e3daf2;
$color-bg-gray: #f4f3f3;
$color-text-gray: #514760;
$color-text-light-gray: rgba(#18142b80, 0.5);
$color-dark-gray: #333;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffea00;

$header-size: 118px;

$chat-with-us-btn-bg-color: linear-gradient(180deg, #0597e5 0%, #0758dd 100%);
