@use "../../base/responive" as *;

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  overflow: hidden;

  @include respond(desktop) {
    width: 100%;
  }

  &-img {
    @include respond(desktop) {
      width: 50%;
    }
  }

  &-desc {
  }
}
.header-logo-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  // height: 125px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  padding-right: 0;
  padding-left: 2rem;

  &-ar {
    padding-right: 2rem;
    padding-left: 0;
  }

  &-img {
    width: 7rem;
  }

  @include respond(desktop) {
    width: 6rem;
    margin-left: 1rem;
  }

  &-desc {
    width: 8rem;
  }
}

.header-logo-container {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

// Responsive styles for desktop
@include respond(desktop) {
  .header-logo-container {
    // Reduce height specifically for payment route
    &.payment-route {
      height: 70px;
      min-height: 75px;
    }
  }
}

// Responsive styles for bigDesktop
@include respond(bigDesktop) {
  .header-logo-container {
    // Reduce height specifically for payment route
    &.payment-route {
      height: 80px;
      min-height: 80px;
    }
  }
}
