@use "../../abstract/variables" as *;
@use "../../base/responive" as *;

.selector {
  width: 13rem;
  // min-width: 12rem;
  display: flex;
  align-items: center;

  @include respond(bigTablets) {
    width: 12rem;
  }

  & select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-base-text);
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    font-family: "YAS Font", sans-serif;

    // @include respond(desktop) {
    //   font-size: 13px;
    // }

    // @include respond(bigDesktop) {
    //   font-size: 14px;
    // }

    option {
      background-color: var(--color-selector-option-bg);
      color: var(--color-base-text);
      padding: 8px 12px;
      font-family: "YAS Font", sans-serif;

      // &:hover {
      //   background-color: var(--color-selector-option-hover-bg);
      // }

      // &:checked {
      //   background-color: var(--color-selector-option-selected-bg);
      //   color: var(--color-selector-option-text);
      // }
    }
  }
}

.selector-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.Selector-label {
  padding-left: 8px;
  color: var(--color-base-text);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  font-family: "YAS Font", sans-serif;
  // @include respond(desktop) {
  //   font-size: 14px;
  // }

  // @include respond(bigDesktop) {
  //   font-size: 15px;
  //   padding-left: 6px;
  // }
}
