@use "../abstract/variables" as *;
@use "../base/responive" as *;

.base-filter {
  border-radius: 2rem;
  padding: 0.5rem;
  height: 2.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5rem;
  border: 2px solid var(--color-base-btn-border);

  @include respond(bigDesktop) {
    height: 2.2rem;
    padding: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
