@use "../../abstract/variables" as *;

.product {
  // min-height: 100vh;
  // max-height: 100vh;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: 2rem;
  background-color: var(--color-base-bg);

  &-head {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 2rem;
    position: relative;
    top: 1.6rem;

    &__right {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &-solo-thumbnail {
    width: 100%;
    height: fit-content;
    background-color: #f0f0f0;
    border-radius: 2rem;
    padding: 1rem;

    &__image {
      width: 100%;
      height: 100%;
      background-color: rgb(237, 187, 187);
      border-radius: 1rem;

      & img {
        border-radius: 1rem;
      }
    }
  }
}
.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px 0px 24px;

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }
}

.back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-base-text);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.back-buttonn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-base-text);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ar-back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-base-text);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transform: rotate(180deg);
  flex-direction: row-reverse;
}

.cart-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: var(--color-base-btn-bg);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  top: -2px;
  right: -5rem;
  width: 19.625rem;
  height: 5rem;
  border-radius: 0rem 0rem 0rem 1.25rem;
  border: 0.83px solid var(--color-base-btn-border);
  box-shadow: 0px -16px 54px 0px rgba(27, 36, 53, 0.17);
  color: var(--color-base-text);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ar-cart-button {
  padding: 8px 16px;
  border: none;
  background: var(--color-base-btn-bg);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  left: -4rem;
  width: 19.625rem;
  height: 5rem;
  border-radius: 0rem 0rem 1.25rem 0rem;
  border: 0.83px solid var(--color-base-btn-border);
  box-shadow: 0px -16px 54px 0px rgba(27, 36, 53, 0.17);
  color: var(--color-base-text);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product-header__title {
  // font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--color-base-text);
  font-size: 1.5rem;
  font-style: normal;

  line-height: normal;
  text-transform: capitalize;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.accessibility-button {
  background: var(--color-base-btn-bg);
  border: 2.6px solid var(--color-base-btn-border);
  border-radius: 50%;
  width: 40.5px;
  height: 40.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}

.language-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background: #fff;
  border-radius: 6.25rem;
  border: 2px solid #dcd6e5;
  cursor: pointer;
  // margin-top: 10%;
}

.chevron-down {
  font-size: 10px;
}

/* You might want to replace the emoji icons with actual SVG icons */
.globe-icon {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}
