// @use "../abstract/variables" as *;

.accessibility-modal .ant-modal-content {
  border-radius: 16px;
  padding: 3rem;
  background: #f4f3f3;
  width: 100%;
}

.accessibility-modal .close-button {
  // font-size: 24px;
  font-size: 1.4rem;
  color: #666;
}

.modal-content {
  text-align: center;
}

.modal-content h2 {
  color: var(--color-base-accessibility-modal-title);
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.subtitle {
  color: var(--color-base-accessibility-modal-subtitle);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2.5rem;
}

.options-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 24px;
}

.option-card {
  display: flex;
  width: 50%;
  padding: 2.5995rem 2.75481rem;
  justify-content: center;
  align-items: center;
  gap: 0.46694rem;
  flex-shrink: 0;
  background: var(--color-base-accessibility-modal-card-bg);
  border-radius: 0.74706rem;
  border: 1.494px solid var(--color-base-accessibility-modal-card-border);
  flex-direction: column;
  cursor: pointer;

  &.active {
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: rgba(0, 123, 255, 0.1);
  }
}

.option-card:hover {
  border-color: #1976d2;
}

.option-icon {
  margin-bottom: 16px;
  width: 4rem;
  height: 4rem;
  border-radius: 3.31513rem;
  border: 3.183px solid #d3b8ff;
  background: #e1f1ff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 8px;
  }
}

.option-card p {
  color: #18142b;
  text-align: center;
  // font-family: Urbanist;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.invert-colors {
  color: #18142b;
  &.active {
    color: #e7ebd4;
  }
}

.continue-button {
  background: var(--color-base-accessibility-modal-btn-bg);
  border: none;
  border-radius: 24px;
  padding: 15px 58px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #18142b;
  // font-family: Urbanist;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.continue-button:hover {
  background: #ffd600;
}

.accessibility-modal .ant-modal-close {
  position: absolute;
  top: -12%;
  right: 0px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 32px;
  line-height: 1;
  border-radius: 70.476px;
  border: 3.524px solid #dcd6e5;
  cursor: pointer;
  background: #ffffff57;

  &:hover {
    background: #fff;
  }
}
