// .accessibility-popup-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100vw;
//   height: 100vh;
//   background: rgba(20, 20, 40, 0.75);
//   backdrop-filter: blur(8px);
//   z-index: 20000;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.accessibility-popup-card {
  max-width: 380px;
  width: 100%;
  // position: relative;
  text-align: center;
}

// .accessibility-popup-close {
//   position: absolute;
//   top: 40px;
//   right: 30px;
//   border-radius: 50%;
//   height: 45px;
//   width: 45px;
//   font-size: 32px;
//   line-height: 1;
//   border: 3.5px solid #dcd6e5;
//   cursor: pointer;
//   background: transparent;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   z-index: 10000;
//   transition: background 0.2s;

//   &:hover {
//     background: #fff;
//   }

//   img {
//     width: 18px;
//     height: 18px;
//   }
// }

.accessibility-modal .custom-modal-close {
  position: absolute;
  top: -50%;
  right: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 32px;
  line-height: 1;
  border: 2px solid #dcd6e5;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: background 0.2s;

  &:hover {
    background: #fff;
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.accessibility-popup-title {
  font-size: 20px;
  font-weight: 500;
  color: #231942;
  margin-bottom: 2px;
}

.accessibility-popup-subtitle {
  font-size: 13px;
  font-weight: 400;
  color: #594f67;
  margin-bottom: 18px;
}

.accessibility-popup-options {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 24px;
}

.accessibility-popup-option {
  background: white;
  border-radius: 12px;
  padding: 28px 10px 28px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: border 0.2s, box-shadow 0.2s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 12px rgba(44, 44, 84, 0.1);
  }
}

.accessibility-popup-icon {
  margin-bottom: 8px;
  svg {
    display: block;
    margin: 0 auto;
  }
}

.accessibility-popup-label {
  font-size: 14px;
  color: #18142b;
  font-weight: 500;
  line-height: 1.2;
}

.accessibility-popup-continue {
  background: #ffe600;
  color: #231942;
  border: none;
  border-radius: 2rem;
  padding: 14px 0;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  width: 70%;
  margin-top: 18px;
  box-shadow: 0 2px 8px rgba(44, 44, 84, 0.06);
  transition: background 0.2s;
  &:hover {
    background: #fff700;
  }
}

.accessibility-popup-icon-circle {
  margin-bottom: 16px;
  width: 4rem;
  height: 4rem;
  border-radius: 3.31513rem;
  border: 3.183px solid #d3b8ff;
  background: #e1f1ff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }
}

.accessibility-modal {
  .ant-modal-content {
    background: var(--color-base-product-card-card-item-bg);
    border: 2.353px solid var(--color-base-product-card-card-item-border);
  }
  .ant-modal-close {
    display: none;
  }
}

.accessibility-modal ~ .ant-modal-root .ant-modal-mask,
.accessibility-modal .ant-modal-mask {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(8px) !important;
}

.accessibility-modal .ant-modal-close {
  position: absolute;
  top: -12%;
  right: 0px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 32px;
  line-height: 1;
  border-radius: 70.476px;
  border: 2px solid #dcd6e5;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: background 0.2s;

  &:hover {
    background: #fff;
  }

  img {
    width: 28px;
    height: 28px;
  }
}

.ant-modal-mask {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(8px) !important;
}
