.ant-drawer-content {
  border-top-left-radius: 1.70444rem !important;
  border-bottom-left-radius: 1.70444rem !important;
}

.cart-content {
  height: 100vh;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
// .ant-drawer-body {
//   padding: 0 !important;
// }

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, #065dae 0%, #34a0d9 100%) 1;
  padding: 10px 20px 10px 20px;

  h2 {
    flex: 1;
    text-align: center;
    margin: 0;
    color: #18142b;
    // text-align: right;
    // font-family: Urbanist;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
}

.booking-date {
  background-color: #f8f8f8;
  padding: 15px 20px;
  text-align: center;
  border-radius: 0.68175rem;
  background: #f4f7f8;

  p {
    color: #1c1821;
    // font-family: Urbanist;
    font-size: 1.10788rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    span {
      color: #1c1821;
      // font-family: Urbanist;
      font-size: 1.10788rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}

.expand-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  cursor: pointer;
}

.cart-item {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #eee;
  gap: 15px;
}

.cart-item img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    color: #075faf;
    font-size: 0.85225rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
}
.item-details h4 {
  margin: 0;
  color: #514760;
  font-size: 0.85225rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.item-details small {
  color: #594f67;
  font-size: 0.767rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item-date .item-date {
  color: #594f67;
  font-size: 0.767rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quantity-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  span {
    color: #4c4358;
    font-size: 0.85225rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-summary {
  margin-top: auto;
  padding: 20px;
  // border-radius: 1.70444rem 0rem 0rem 1.70444rem;
  background: #fff;
  box-shadow: 0px -10.908px 36.816px 0px rgba(27, 36, 53, 0.17);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
}

.cart-actions {
  display: flex;
  gap: 10px;
}

.save-cart-btn {
  background-color: #ffa500;
  color: black;
  border: none;
  flex: 1;
  display: flex;
  padding: 0.8rem 2.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  font-weight: 600;
  border-radius: 48px;
  cursor: pointer;

  &:hover {
    background-color: #ffa500;
    color: black;
  }
}

.checkout-btn {
  background-color: #ffd700;
  color: black;
  border: none;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0.8rem 2.2rem;
  width: 100%;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  cursor: pointer;
}

.delete-btn {
  color: red;
  border: none;
  img {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.custom-divider {
  width: 100%;
  height: 1.5px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

.validity-date {
  color: #514760;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;

  span {
    color: #594f67;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
