.email-checkout__container {
  // max-width: 500px;
  // width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--color-email-form-bg);
  overflow: hidden;
}

// === Scrollable Content ===
.email-checkout__content {
  flex: 1 1 auto;
  overflow-y: auto;
  // padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 70px;
  margin-top: -30px;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #f4f3f3;
  }
  &::-webkit-scrollbar-thumb {
    background: #bdbdc6;
    border-radius: 3px;
  }
}

// === Title ===
.email-checkout__title-row {
  display: flex;
  align-items: center;

  margin-top: 5rem;
  margin-bottom: 1rem;
}

.email-checkout__back-btn {
  background: none;
  border: none;
  padding: 0;
  margin-right: 50px;
  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
    // margin-top: -1.5rem;
  }
}

.email-checkout__title {
  font-size: 22px;
  font-weight: 500;
  color: #231942;
  text-align: left;
  margin-left: -10px;
}

// === Steps ===
.email-checkout__steps {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
  margin-bottom: 0;
}

// === Form Container ===
.email-checkout__form-container {
  margin: 30px auto 24px auto;
  background: var(--color-email-form-box);
  border-radius: 18px;
  box-shadow: var(--color-email-form-box-shadow);

  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  // scrollbar-width: thin;
  // &::-webkit-scrollbar {
  //   width: 6px;
  // }
  // &::-webkit-scrollbar-track {
  //   background: #fff;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: #bdbdc6;
  //   border-radius: 3px;
  // }
}

// === Form ===
.email-checkout__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--color-email-form-box);
  padding: 4px 18px 64px 18px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -6px 12px rgba(0, 0, 0, 0.25);
}

.email-checkout__form-container-inner {
  max-width: 250px;
  margin: 0 auto;
  padding: 0px 10px 10px 25px;
}

.email-checkout__label {
  font-size: 13px;
  color: var(--color-email-form-label);
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.email-checkout__input {
  border: none;
  border-bottom: 2px solid var(--color-email-form-input-border);
  font-size: 14px;
  padding: 8px 0;
  outline: none;
  background: transparent;
  color: var(--color-email-form-label);
  // width: 200px;
  // max-width: 100%;
  box-sizing: border-box;
  width: 170px;
}

.email-checkout__btn {
  background: var(--color-email-form-confirm-btn);
  color: var(--color-email-form-confirm-btn-clr);
  border: 1px solid var(--color-email-form-confirm-btn);
  border-radius: 2rem;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 75%;
  margin-top: 12px;
  box-shadow: 0 2px 8px rgba(44, 44, 84, 0.06);
  transition: background 0.2s;
  align-self: center;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// === Summary Box ===
.email-checkout__summary {
  background: var(--color-checkout-summary-bg);
  border-radius: 12px;
  width: 100%;
  padding: 18px 0px 12px 0px;
  font-size: 15px;
  color: var(--color-email-form-label);

  &-title {
    font-weight: 600;
    font-size: 15px;
    padding: 0 0 20px 20px;
    color: var(--color-email-form-label);
  }

  &-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 14px;
    color: var(--color-pymnt-step-clr);

    &--total {
      font-weight: 600;
      font-size: 15px;
      border-top: 1.5px solid #e3e3e3;
      padding: 15px 10px 18px 10px;
    }
  }
}

// === Promo Code ===
.email-checkout__promo {
  margin-bottom: 16px;

  &-apply {
    background: var(--color-email-form-box);
    color: var(--color-email-form-label);
    border: 0.554px solid var(--color-promo-input-border);
    border-radius: 0.55381rem;
    padding: 9px 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: none;
    height: 50px;
    margin: 0;
    align-self: stretch;
  }
}

// === Checkboxes ===
.email-checkout__checkboxes {
  padding: 15px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  label {
    font-size: 12px;
    color: var(--color-checkbox-clr);

    a {
      color: var(--color-checkbox-a-clr);
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.email-checkout__select {
  // width: 200px;
  // max-width: 100%;
  font-size: 14px;
  padding: 8px 0 6px 0;
  border: none;
  border-bottom: 2px solid var(--color-email-form-input-border);
  border-radius: 0;
  background: transparent;
  color: var(--color-email-form-label);
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 2px;
  box-shadow: none;
  background-image: url("../../../src/assets/icons/down.svg");
  background-repeat: no-repeat;
  background-position: right 2px center;
  background-size: 0.5545rem 0.5545rem;

  &:focus {
    border-bottom: 2px solid #231942;
    background: transparent;
  }
}

.email-checkout__select option,
.email-checkout__country-code-select option {
  font-size: 13px;
  background-color: var(--color-email-form-box) !important;
}

.email-checkout__select:focus option:checked,
.email-checkout__country-code-select:focus option:checked {
  // background: #ffea00 !important;
  color: var(--color-email-form-label) !important;
}

/* For Chrome, Edge, Safari: */
.email-checkout__select:focus,
.email-checkout__country-code-select:focus {
  outline: none;
}

.email-checkout__select option:checked,
.email-checkout__country-code-select option:checked {
  // background: #ffea00 !important;
  color: var(--color-email-form-label) !important;
}

.email-checkout__phone-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-checkout__country-code {
  font-weight: 500;
  color: var(--color-country-code-clr);
  font-size: 16px;
  // border-bottom: 2px solid #231942;
  padding-bottom: 2px;
}

.email-checkout__country-code-select {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-country-code-clr);
  border: none;
  border-bottom: 2px solid var(--color-email-form-input-border);
  width: 40px;
  background: transparent;
  padding: 9px 15px 8px 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  background-image: var(
    --down-arrow-icon,
    url("../../../src/assets/icons/down.svg")
  );
  background-repeat: no-repeat;
  background-position: right 2px center;
  background-size: 0.5545rem 0.5545rem;

  &--ar {
    padding: 9px 10px 8px 0px;
  }
}

.email-checkout__summary-row--column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px 8px 20px;
}

.email-checkout__summary-label {
  font-weight: 500;
  color: #231942;
  font-size: 13px;
}

.email-checkout__summary-value {
  color: #594f67;
  font-size: 14px;
  font-weight: 400;
  gap: 2px;
}

.email-checkout__summary-totals {
  background: #fff;
  padding: 0px 20px;
  // padding: 14px 40px 10px 35px;
  // width: 108%;
}

.email-checkout__promo-box {
  background: var(--color-checkout-summary-bg);
  border-radius: 10px;
  padding: 10px 12px;

  width: 100%;
  // max-width: 700px;
  box-sizing: border-box;
  width: fit-content;
}

.email-checkout__promo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.email-checkout__promo-input {
  letter-spacing: 0.5em;
  font-size: 18px;
  background: var(--color-email-form-box);
  border-radius: 0.55381rem;
  border: 0.554px solid var(--color-promo-input-border);
  padding: 8px 10px;
  width: 150px;
  box-sizing: border-box;

  &::placeholder {
    color: var(--color-email-otp-input-clr);
    font-size: 13px;
    opacity: 0.5;
  }
}

.email-checkout__checkboxes input[type="checkbox"] {
  accent-color: #fff;
  // background-color: #fff;
  border: 2px solid var(--color-email-form-input-border);
  // width: 15px;
  height: 13px;
}

.email-checkout__summary-row-container {
  padding: 15px 10px;
}

:root {
  --down-arrow-icon: url("../../../src/assets/icons/down.svg");
}

[data-theme="dark"] {
  --down-arrow-icon: url("../../../src/assets/icons/inverteddown.svg");
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  color: var(--color-base-text-secondary);

  &.rtl {
    padding-left: 0;
    padding-right: 35px;
    text-align: right;

    .checkbox-custom {
      left: auto;
      right: 0;
    }

    .checkbox-input:checked ~ .checkbox-custom:after {
      left: auto;
      right: 6px;
    }
  }
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color-base-checkbox-bg);
  border: 1px solid var(--color-base-checkbox-border);
  border-radius: 4px;

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--color-base-checkbox-check);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.checkbox-input:checked ~ .checkbox-custom:after {
  display: block;
}
