.confirm-email__modal {
  max-width: 500px;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--color-email-form-bg);
  overflow: hidden;
  @media (max-width: 375px) {
    height: 100%;
  }
}

.confirm-email__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 400px;
  padding: 32px 0 24px 0;
}

.confirm-email__form-container {
  width: 90%;
  max-width: 400px;
  background: var(--color-email-form-box);
  border-radius: 18px;
  box-shadow: var(--color-email-form-box-shadow);
  align-items: center;
  padding: 32px 36px;
  // height: 100%;
  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  // scrollbar-width: thin;
  // &::-webkit-scrollbar {
  //   width: 6px;
  // }

  @media (min-width: 340px) and (max-width: 374px) {
    padding: 88px 27px;
  }

  @media (min-width: 390px) and (max-width: 411px) {
    padding: 70px 36px;
  }

  @media (min-width: 412px) and (max-width: 413px) {
    padding: 108px 36px;
  }

  @media (min-width: 414px) and (max-width: 430px) {
    padding: 97px 36px;
  }
}

.confirm-email__label {
  font-size: 14px;
  color: var(--color-email-form-otp-info-b);
  font-weight: 600;
  margin-bottom: 8px;
  // margin-left: -200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.confirm-email__input-underline {
  font-size: 14px;
  color: var(--color-email-form-otp-info-b);
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-email-form-input-border);
  margin-bottom: 16px;
  background: none;
  text-align: left;
  margin-top: 27px;
  width: 100%;
  display: block;
}

html[lang="ar"] {
  .confirm-email__input-underline {
    text-align: right;
  }
}

.confirm-email__otp-section-bg {
  background: var(--color-confirm-otp-bg);
  border-radius: 12px;
  padding: 18px 8px 12px 8px;
  margin-bottom: 18px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-email__otp-section {
  background: #fff;
  border-radius: 12px;
  padding: 18px 8px 12px 8px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-email__otp-label {
  font-size: 14px;

  font-weight: bold;
  color: var(--color-email-form-otp-info-b);
  margin-bottom: 10px;
  text-align: center;
}

.confirm-email__otp-inputs {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.confirm-email__otp-input {
  width: 37px;
  height: 41px;
  border: 0.5px solid var(--color-confirm-otp-input-border);
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  background: var(--color-email-form-box);
  font-weight: 700;
  color: var(--color-email-otp-input-clr);
  outline: none;
  transition: border 0.2s;
  &:focus {
    border-color: var(--color-email-form-input-border);
  }
}

.confirm-email__otp-info {
  font-size: 13px;
  color: var(--color-email-form-otp-info);
  text-align: center;
  margin-bottom: 4px;
  span {
    color: var(--color-email-form-otp-info-b);
  }
}

.confirm-email__otp-warning {
  color: var(--color-email-form-otp-warning);
  font-size: 12px;
  display: block;
  margin-top: 2px;
}

.confirm-email__otp-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-top: 18px;
  font-size: 12px;
  color: var(--color-otp-action);
  button {
    background: var(--color-email-form-box);
    border: 3px solid var(--color-otp-action-btn-border);
    border-radius: 2rem;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--color-otp-action);
    font-weight: 500;
    cursor: pointer;
    margin-left: 8px;
    transition: background 0.2s, border 0.2s;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.confirm-email__confirm-btn {
  background: var(--color-email-form-confirm-btn);
  color: var(--color-email-form-confirm-btn-clr);
  border: none;
  border-radius: 2rem;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 75%;

  // margin-top: 12px;
  // transform: translateX(16.5%);
  box-shadow: 0 2px 8px rgba(44, 44, 84, 0.06);
  transition: all 0.2s;
  &:hover {
    background: var(--color-email-form-confirm-btn);
    // transform: translateX(16.5%) translateY(-1px);
  }
  &:active {
    // transform: translateX(16.5%) translateY(0);
  }
}

.confirm-email__steps-underline {
  width: 100%;
  height: 2.5px;
  margin: 0 auto 18px auto;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(44, 44, 84, 0.06);

  &::before,
  &::after {
    content: "";
    display: block;
    height: 100%;
  }
  &::before {
    width: 50%;
    background: #1976d2; // blue
  }
  &::after {
    width: 50%;
    background: #dcdcdc; // gray
  }
}
