.payment-header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pymnt-container-bg);
    width: 100%;
  }
  &__title {
    font-size: 22px;
    font-weight: 500;
    color: var(--color-pymnt-title-clr);
    text-align: center;
    margin-left: 10px;
    margin-top: 105px;
    // margin-bottom: -13px;
  }

  &__back-button {
    background: none;
    border: none;
    font-size: 15px;
    margin-bottom: 8px;
    align-self: flex-start;
    margin-left: 12px;
    margin-top: -1.5rem;
    cursor: pointer;
  }

  &__steps-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 32px;
    margin: 50px auto 0 auto;
    position: relative;
  }

  &__step {
    font-size: 15px;
    color: var(--color-pymnt-step-clr);
    font-weight: 500;
    text-align: center;

    &--email {
      min-width: 50%;
    }

    &--checkout {
      width: 30%;
      margin-right: 20px;
    }

    &--active {
      color: var(--color-pymnt-step-active-clr);
      font-weight: 700;
    }

    span {
      display: block;
      margin-top: 4px;
    }
  }

  &__steps-divider {
    width: 100%;
    height: 2.5px;
    margin: 0 auto 18px auto;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(44, 44, 84, 0.06);

    &::before,
    &::after {
      content: "";
      display: block;
      height: 100%;
    }

    &::before {
      width: 50%;
      background: var(--color-pymnt-step-divider-before); // blue
    }

    &::after {
      width: 50%;
      background: var(--color-pymnt-step-divider-after); // gray
    }
  }

  &__steps-divider--step1::before {
    background: var(--color-pymnt-step-divider-before); // blue
  }
  &__steps-divider--step1::after {
    background: var(--color-pymnt-step-divider-after); // gray
  }
  &__steps-divider--step2::before {
    background: var(--color-pymnt-step-divider-after); // gray
  }
  &__steps-divider--step2::after {
    background: var(--color-pymnt-step-divider-before); // blue
  }
}
