.outer-modal-bg-payment-successful {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.payment-success-modal {
  background: #fff;
  // border-radius: 24px;
  // box-shadow: 0 4px 24px rgba(44, 44, 84, 0.12);
  max-width: 420px;
  width: 100%;
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.email-verification-header-fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  min-height: 92px;
  display: flex;
  align-items: center;
  padding: 18px 0;
  background: #fff;
  border-radius: 24px 24px 0 0;
}

.payment-success-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  padding: 32px 0;
}

.payment-success-icon {
  margin-bottom: 24px;
  svg {
    display: block;
    margin: 0 auto;
  }
}

.payment-success-message {
  font-size: 20px;
  font-weight: 600;
  color: #231942;
  text-align: center;
}
